@model SciFit.Models.AdministrationModel
@{
    var grid = new WebGrid(Model.Users, canPage: true, rowsPerPage: 10, defaultSort: "Id");
    grid.Pager(WebGridPagerModes.All);
}
@section styles{
    <link rel="Stylesheet" href=@Href("~/Content/Site.css")/>
}

<div class="container">
    <div class="col-lg-12 col-sm-12">

        <div class="row" style="padding-bottom: 20px">
            <div class="col-md-6">
                @Html.ActionLink("Edit plans", "AdministratePlans", "Administration",
                    new
                    {
                        @class = "btn btn-info",
                        style = "display:block;margin: 0 auto; font-size: 14px;"
                    })
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Create new sport plan", "CreatePlan", "Administration",
                    new
                    {
                        @class = "btn btn-info",
                        style = "display:block;margin: 0 auto; font-size: 14px;"
                    })
            </div>
        </div>
        @using (Html.BeginForm("AdministrateUsersSearch", "Administration"))
        {
            <div class="row" style="padding-left: 15px; padding-bottom: 10px;">
                @if (ViewBag.UserNotFound != null)
                {
                    if ((bool)ViewBag.UserNotFound)
                    {
                        <div class="row" style="padding-left: 15px;">
                            <p class="text-danger">
                                Users not found!
                            </p>
                        </div>
                    }
                }
                <table style="border: 0">
                    <tr>
                        <td align="right">
                            @Html.TextBox("SearchKey", "", new { style = "min-height: 40px" })
                        </td>
                        @if (ViewBag.UserNotFound != null)
                        {
                            <td align="left" style="padding-left: 10px;">
                                <button type="submit" class="btn btn-danger" style="min-width: 70px; max-height: 40px;">Refresh</button>
                            </td>
                        }
                        else
                        {
                            <td align="left" style="padding-left: 10px; ">
                                <button type="submit" class="btn btn-info" style="min-width: 70px; max-height: 40px;">Search</button>
                            </td>
                        }

                    </tr>
                </table>
            </div>
            <div id="gridContent">
                @grid.GetHtml(
                    tableStyle: "webgrid-table",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    alternatingRowStyle: "webgrid-alternating-row",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "webgrid-row-style",
                    mode: WebGridPagerModes.All,
                    columns: grid.Columns(
                        grid.Column("UserName", header: "Username"),
                        grid.Column("RoleId", header: "Role"),
                        grid.Column("Email", header: "Email"),
                        grid.Column("",
                            format: item => Html.ActionLink("Edit", "AdministrateUserProfile", "Administration",
                                new { id = item.Id },
                                new { @class = "btn btn-default" })),
                        grid.Column("",
                            format: item => Html.ActionLink("Delete", "AdministrateUserProfileDelete", "Administration",
                                new { id = item.Id },
                                new { @class = "delete btn btn-default"}))
                        )
                    )
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script>
        $(".delete").click(function () {
            alert('Do you really want to proceed with deletion?');
        });
    </script>
}
