@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div style="flex: 1;flex-direction: row;padding-bottom: 50px">
        <div class="embed-responsive embed-responsive-16by9" style="justify-content: center;background-color: red;">
            <iframe src="https://www.youtube.com/embed/xzpndHtdl9A" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://cdn2.iconfinder.com/data/icons/yoga-pose/512/yoga-09-512.png" alt="..." style="height: 200px; width: 200px">
                <div class="caption">
                    <h3>Sport 1</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://cdn2.iconfinder.com/data/icons/yoga-pose/512/yoga-13-512.png" alt="..." style="height: 200px; width: 200px">
                <div class="caption">
                    <h3>Sport 2</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://cdn2.iconfinder.com/data/icons/yoga-pose/512/yoga-18-512.png" alt="..." style="height: 200px; width: 200px">
                <div class="caption">
                    <h3>Sport 3</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
