@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div style="padding-bottom: 20px">
        <div class="jumbotron">
            <div class="embed-responsive embed-responsive-16by9" style="justify-content: center">
                <iframe src="https://www.youtube.com/embed/O6sS0qljJFI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
