body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-block {
    min-width: 2em;
}

.center-input {
    margin: auto;
    text-align: center;   
}

/*WEBGRID*/
.webgrid-table
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #c6dcff;
    background-color: white;
}

.webgrid-table td, th
{
    border: 1px solid #c6dcff;
    padding: 3px 7px 2px;
}

.webgrid-header
{
    background-color: #c6dcff;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
}

.webgrid-footer
{
}

.webgrid-row-style
{
    padding: 3px 7px 2px;
}

.webgrid-alternating-row
{
    background-color: #d8e7ff;
    padding: 3px 7px 2px;
}