@model SciFit.Models.UserModel
@{
    ViewBag.Title = "Login";
}

@section styles{
    <link rel="Stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-login text-center">
                @using (Html.BeginForm("Login", "Sport"))
                {
                    <h4>Welcome back.</h4>
                    if (ViewBag.BadPassword != null)
                    {
                        <hr/>
                        <div class="text-danger">@ViewBag.BadPassword</div>
                    }
                    <hr />
                    @Html.TextBoxFor(m => m.UserName,
                        new
                        {
                            @class = "form-control input-sm",
                            placeholder = "username",
                            type = "text",
                            style = "margin:auto; text-align:center"
                        })
                    <hr />
                    @Html.TextBoxFor(m => m.Password,
                        new
                        {
                            @class = "form-control input-sm",
                            placeholder = "Password",
                            type = "password",
                            style = "margin:auto; text-align:center"
                        })
                    <hr />
                    <button type="submit" class="btn btn-primary">Login</button>
                }
            </div>
        </div>
    </div>
</div>
