@{
    ViewBag.Title = "Login";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Authentication.css")" />
    <link rel="Stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                @using (Html.BeginForm("SportPlan", "Sport"))
                {
                    <h4>Welcome back.</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
                    <br>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
                    <br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <button type="submit" value="Submit">Submit</button>
                        </span>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
