@model SciFit.Models.User
@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Site.css")" />
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            @using (Html.BeginForm("GetUserData", "Authentication"))
            { 
                <div class="form-group">
                    <label for="Age">Age</label>
                    <select class="form-control" id="Age" name="Age">
                        @*
                            &lt; - <
                            &gt; - >
                        *@
                        <option>&lt;18</option>
                        <option>19 - 25</option>
                        <option>&gt;25</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Weight">Weight</label>
                    <select class="form-control" id="Weight" name="Weight">
                        <option>&lt;60</option>
                        <option>60 - 80</option>
                        <option>80 - 100</option>
                        <option>&gt;100</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Difficulty">How much did you train before?</label>
                    <select multiple class="form-control" id="Difficulty" name="Difficulty">
                        <option>I did not train</option>
                        <option style="font-size: 0.1pt; background-color: gray; opacity: 0.2" disabled>&nbsp;</option>
                        <option>I trained a little</option>
                        <option style="font-size: 0.1pt; background-color: gray; opacity: 0.2" disabled>&nbsp;</option>
                        <option>I trained few times a week</option>
                        <option style="font-size: 0.1pt; background-color: gray; opacity: 0.2" disabled>&nbsp;</option>
                        <option>I trained a lot every week</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            }
        </div>
    </div>
</div>
